<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sheep.emo.mapper.GoodsMapper">
    <select id="getTotalStocks" resultType="Long">
        SELECT SUM(total_stocks)
        FROM goods
    </select>
</mapper>
